h1 {
    color: red;
    text-align: center;
}
h2 {
    color:green;
    background: rgb(211, 86, 86);
}
div {
    width: 30vw;
    margin-left:10vw;
    margin-top: 2vh;
    padding: 5px;
    border: 2px ridge green;
    box-shadow: 2px 5px 5px 4px;
    transition: all 0.5s ease-out;
}
div:hover {
    transform: scale (0.9);
    box-shadow: 1px 1px 3px 2px;
    background: green;
}
div:active {
    background: red;
}